body{
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
height: 100%; 
max-height: 100%; 
}

h1 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

#framecontent{
position: absolute;
top: 0;
bottom: 0; 
left: 0;
width: 300px; /*Width of frame div*/
height: 100%;
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background: steelblue;
color: white;
}

#maincontent{
position: fixed;
top: 0; 
left: 300px; /*Set left value to WidthOfFrameDiv*/
right: 0;
bottom: 0;
overflow: auto; 
background: #f1f1f1;
}

.rightEditor{
  width:600px;
}

.showGrid{
  float:right;
  margin-top:48px;
}

#mainSheet{
    box-shadow: 5px 5px 10px 0px #cfcfcf;
    background: white;
    margin:12px 24px;
    float: left;
    width: 600px;
    height:840px;
}
    
.resize-drag {       
  position:absolute;
  display: inline-block;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  margin: 30px 20px;
  width: 120px;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.bordered {
  border: dashed 1px #c1c1c1;
}

.ct-widget.ct-ignition {
    left: 316px;
    position: fixed;
    top: 16px;
}

.addItemPanel{
  margin: 12px 24px;
}